@using FruitShopSolution.ViewModel.Catalog.Report;
@{
    ViewData["Title"] = "Trang chủ";
    List<ReportViewModel> listReports = ViewBag.Reports;
    ReportViewModel today = ViewBag.Today;
}

<div class="container-fluid">
    <h1 class="mt-4">Bảng thống kê</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Thống kê hôm nay</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Doanh Thu</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    @*<a class="small text-white stretched-link" href="#">View Details</a>*@
                    <h4>@today.TotalRevenue</h4>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Vốn</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    @*<a class="small text-white stretched-link" href="#">View Details</a>*@
                    <h4>@today.Capital</h4>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Lợi nhuận</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    @*<a class="small text-white stretched-link" href="#">View Details</a>*@
                    <h4>@today.Profit</h4>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Số đơn hàng</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    @*<a class="small text-white stretched-link" href="#">View Details</a>*@
                    <h4>@today.OrderCount</h4>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area mr-1"></i>
                    Area Chart Example
                </div>
                <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar mr-1"></i>
                    Bar Chart Example
                </div>
                <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Bảng thống kê theo ngày
        </div>
        <div class="card-body">
            <div class="table-responsive">
                Từ Ngày<input type="date" id="fromdate" value="2020-12-01"/>
                @{ var date1 = DateTime.Now;
                    var datestring = $"{date1.Year}-{date1.Month}-{date1.Day}";}
                Đến Ngày<input type="date" id="todate" value="@datestring"/>
                <button id="submitdate" onclick="Load()">Submit</button>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ngày</th>
                            <th>Doanh Thu</th>
                            <th>Tiền hàng</th>
                            <th>Số hoá đơn </th>
                            <th>Discount</th>
                            <th>Lợi nhuận</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{ 
                            
                            decimal totalrevenue = 0, totalcapital = 0, totaldiscount = 0, totalprofit = 0,totalorder = 0;}
                        @foreach (var i in listReports)
                        {
                            totalrevenue += i.TotalRevenue;
                            totaldiscount += i.Discount;
                            totalprofit += i.Profit;
                            totalcapital += i.Capital;
                            totalorder += i.OrderCount;
                            <tr>
                                <td>@i.Date.ToShortDateString()</td>
                                <td>@i.TotalRevenue</td>
                                <td>@i.Capital</td>
                                <td>@i.OrderCount</td>
                                <td>@i.Discount</td>
                                <td>@i.Profit</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            @*                            <th>Ngày</th>
                                <th>Doanh Thu</th>
                                <th>Tiền hàng</th>
                                <th>Số mặt hàng bán </th>
                                <th>Discount</th>
                                <th>Lợi nhuận</th>*@
                            <th></th>
                            <th>@totalrevenue</th>
                            <th>@totalcapital</th>
                            <th>@totalorder</th>
                            <th>@totaldiscount</th>
                            <th>@totalprofit</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">

    function Load() {
        var fromdate = new Date($('#fromdate').val());
        var todate = new Date($('#todate').val()); 
        day = fromdate.getDate();
        if (day < 10) day = '0' + day;
        month = fromdate.getMonth() + 1;
        if (month < 10) month = '0' + month;
        year = fromdate.getFullYear();
        var fromdateString = [day, month, year].join('/');
        day = todate.getDate();
        if (day < 10) day = '0' + day;
        month = todate.getMonth() + 1;
        if (month < 10) month = '0' + month;
        year = todate.getFullYear();
        var todateString = [day, month, year].join('/');
        console.log(todateString);
        $.ajax
            ({
                url: '@Url.Action("GetDate")', // gửi ajax đến file
                type: "post", // chọn phương thức gửi là get
                data:
                {
                    fromdate: fromdateString,
                    todate:todateString
                },
                success: function (result) {
                    var string = location.href  + " #dataTable";
                    console.log(string);
                    $('#dataTable').load(string);
                    console.log("ok");
                }
            });
    };
</script>