

@using FruitShopSolution.ViewModel.Catalog.Products;
@using FruitShopSolution.ViewModel.Catalog.Categories;
@using FruitShopSolution.ViewModel.Catalog.Promotion;
@using FruitShopSolution.ViewModel.Common;
@model List<ProductInfoViewModel>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var promotion = ViewBag.Promotions as PromotionViewModel;
}

<div class="container-fluid">
    <h1 class="mt-4">Danh sách sản phẩm của chương trình khuyến mãi @promotion.Title</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách sản phẩm</li>
    </ol>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Mã SP
                            </th>
                            <th>
                                Tên
                            </th>
                            <th>
                                Xuất xứ
                            </th>
                            <th>
                                Số lượng tồn
                            </th>
                            <th>
                                Giá nhập
                            </th>

                            <th>
                                Giá bán
                            </th>
                            <th>
                                Ngày nhập
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.pro.ProductId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.pro.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.pro.Origin)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.pro.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.pro.InputCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.pro.OutputCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.pro.DateCreated)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

