

@using FruitShopSolution.ViewModel.Catalog.Products;
@using FruitShopSolution.ViewModel.Catalog.Categories;
@using FruitShopSolution.ViewModel.Common;
@model List<ProductViewModel>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CategoriesViewModel> categories = ViewBag.Categories2;
}

<div class="container-fluid">
    <h1 class="mt-4">Danh sách sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách sản phẩm</li>
    </ol>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-success" asp-action="Create" asp-controller="Product">Tạo mới</a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" value="" name="keyword" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <select name="categoryId" onchange="this.form.submit()" class="form-control" asp-items="@ViewBag.Categories">
                                    <option>--Chọn danh mục--</option>
                                </select>
                            </div>
                            <div class="cold-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="button" onclick="window.location.href='/Product/Index'" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    </form>

                        @*<div class="row">
                            <div class="col-md-4">
                                <input type="text" value="" id="keyword1" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <select id="category" onchange="LoadProduct()" class="form-control">
                                    <option>--Chọn danh mục--</option>
                                    @{
                                        foreach (var i in categories)
                                        {
                                            <option value="@i.CategoryId">@i.Title</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="cold-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="button" onclick="window.location.href='/Product/Index'" class="btn btn-dark">Reset</button>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Mã SP
                            </th>
                            <th>
                                Tên
                            </th>
                            <th>
                                Xuất xứ
                            </th>
                            <th>
                                Số lượng tồn
                            </th>
                            <th>
                                Giá nhập
                            </th>

                            <th>
                                Giá bán
                            </th>
                            <th>
                                Ngày nhập
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Origin)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InputCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OutputCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>
                            <td>
                                @Html.ActionLink("Sửa", "Update", new { id = item.ProductId }) |
@*                                @Html.ActionLink("Xem", "Details", new { id = item.Id }) |*@
                                @Html.ActionLink("Xóa", "Delete", "Product",new { id = item.ProductId }) |
                               @* @Html.ActionLink("Gán danh mục", "CategoryAssign", new { id = item.Id }) |*@
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        
        @{ 
            Func<int?, string> generateUrl = (int? _pagenumber) =>
            {
                if (_pagenumber == null) _pagenumber = 1;
                return Url.Action("Index", new { pageIndex = _pagenumber,  pageSize = 5 });
            };
            PageModel page = ViewBag.Page;
            if(page.PageIndex == 0)
            {
                page.PageIndex = 1;
                page.TotalPage = 4;
            }
            var datapaging = new
            {
                currentPage = page.PageIndex,    // trang hiện tại
                countPages = page.TotalPage,   // tổng  số trang 
                generateUrl = generateUrl
            };
        }

        <div class="paging">
            <style>
                .pagination {
                    padding-left: 1240px;
                    margin: auto;
                }
            </style>
            <partial name="_Paging" model="@datapaging" />
        </div>
        
    </div>
</div>
    <script type="text/javascript">
            function LoadProduct() {
                 
                var keyword = $("#keyword1").val();
                var categoryid = $("#category").val();
                $.ajax(
                    {
                        url: "@Url.Action("GetProduct")", // gửi ajax lên server
                        type: "post", // chọn phương thức gửi là post
                        data:
                        {
                            'searchString': keyword,
                            'category': categoryid
                        },
                        success: function (result) {
                            //$("#card-body").load("@Url.Action("Index") #card-body");
                            alert("ok");
                        }
                    });
    }
    </script>

