@model FruitShopSolution.ViewModel.Catalog.Products.ProductUpdateRequest
@using FruitShopSolution.ViewModel.Catalog.Products;

@{
    ProductViewModel product = ViewBag.Product;
    List<ProductImageViewModel> imgaes = ViewBag.Image;
    ViewData["Title"] = "Cập nhật sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1 class="mt-4">Cập nhật sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Cập nhật sản phẩm</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Product">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-8">
                <form asp-action="Update" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ProductId" value="@product.ProductId" />
                    <div class="form-group">
                        <label asp-for="Title" class="control-label">Tên sản phẩm</label>
                        <input asp-for="Title" class="form-control" value="@product.Title" required />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Origin" class="control-label">Xuất xứ</label>
                        <input asp-for="Origin" class="form-control" value="@product.Origin" required />
                        <span asp-validation-for="Origin" class="text-danger"></span>
                    </div>
                    @*
        <div class="form-group">
            <label asp-for="Content" class="control-label"></label>
            <textarea asp-for="Content" rows="5" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>*@
                    <div class="form-group">
                        <label asp-for="Content" class="control-label">Mô tả</label>
                        @*<textarea id="txt_details" asp-for="Content" rows="35" class="form-control"></textarea>*@
                        <textarea id="Content" name="Content" rows="35" class="form-control" required>@product.Content</textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OutputCount" class="control-label">Giá bán</label>
                        <input asp-for="OutputCount" class="form-control" type="number" value="@product.OutputCount" required />
                        <span asp-validation-for="OutputCount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label">Tồn kho</label>
                        <input asp-for="Quantity" class="form-control" type="number" value="@product.Quantity" required />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Cập nhật" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>