@model FruitShopSolution.ViewModel.Catalog.Order.CreateOrderRequest;
@{
    ViewData["Title"] = "ViewOrder";
}
@using FruitShopSolution.ViewModel.Catalog.Users;
@{
    ViewData["Title"] = "Giỏ Hàng";
    UserViewModel user = ViewBag.User;
    int count = ViewBag.ProductsCount;
}
@await Html.PartialAsync("_HeaderLayout", new ViewDataDictionary(ViewData) { { "UserLogin", user }, { "Count", count } })
<h1>Thông tin order</h1>
<p>
    @Model.ShipName
    @Model.ShipEmail
    @Model.ShipAddress
    @Model.ShipPhoneNumber
    @Model.OrderDate
</p>
@{
    foreach (var i in Model.ListProduct)
    {
        <p>@i.ProductId</p>
    }
}



