@using FruitShopSolution.ViewModel.Catalog.Cart;
@using FruitShopSolution.ViewModel.Catalog.Order;
@using FruitShopSolution.ViewModel.Catalog.Users;
@model FruitShopSolution.ViewModel.Catalog.Order.CreateOrderRequest;
@{
    List<CartViewModel> lisdata = ViewBag.Data;
}
@{
    ViewData["Title"] = "Giỏ Hàng";
    UserViewModel user = ViewBag.User;
    int count = ViewBag.ProductsCount;
}
@await Html.PartialAsync("_HeaderLayout", new ViewDataDictionary(ViewData) { { "UserLogin", user }, { "Count", count } })
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <title>Giỏ hàng</title>
</head>

<body>
    <div class="backgroundcolor" id="deleteload">

        <div class="container">
            <a href="@Url.Action("ViewAll")" class="btn"><strong>&#8592; Tiếp tục mua sắm</strong></a></td>
        </div>

        <!------ Cart items details ------>
        <div class="small-container cart-page" id="listcart">


            @{

                bool check = false;
                decimal total = 0;
                int stt = 0;
                List<CreateOrderDetailRequest> listOrderDetails = new List<CreateOrderDetailRequest>();
                if (lisdata.Count <= 0)
                {
                    <h1>Ôi bạn ơi! Giỏ hàng trống rồi, là do bạn chưa mua đồ đấy bạn ạ! </h1>
                }
                else
                {
                    <table>
                        <tr>
                            <th>SỐ THỨ TỰ</th>
                            <th>THÔNG TIN SẢN PHẨM</th>
                            <th>SỐ LƯỢNG</th>
                            <th>THÀNH TIỀN</th>
                        </tr>
                        @{
                            foreach (var cartitem in lisdata)
                            {
                                stt++;
                                if (stt == lisdata.Count()) check = true;
                                var thanhtien = cartitem.Quantity * cartitem.Products.pro.OutputCount;
                                if (cartitem.Products.Discount != 100 && cartitem.Products.Discount != 0) thanhtien = cartitem.Quantity * (cartitem.Products.pro.OutputCount * (1 - (decimal)cartitem.Products.Discount / 100));
                                total += thanhtien;
                                <tr class="cart-detail">
                                    <td style="padding-left: 35px;"><h2>@stt</h2></td>
                                    <td>
                                        <div class="cart-info">
                                            <a href="@Url.Action("ViewDetail", "Product", cartitem.Products.pro.ProductId)">
                                                <img src="@cartitem.Products.ListImages.FirstOrDefault().imagepath" />

                                            </a>
                                            <div>
                                                <h2>@cartitem.Products.pro.Title</h2>
                                                @{
                                                    if (cartitem.Products.Discount != 100 && cartitem.Products.Discount != 0)
                                                    {

                                                        <p>Giá:@Convert.ToDecimal(cartitem.Products.pro.OutputCount * (1 - (decimal)cartitem.Products.Discount / 100)).ToString("#,##0") <u>VNĐ</u></p>
                                                    }
                                                    else
                                                    {
                                                        <p>Giá:@Convert.ToDecimal(cartitem.Products.pro.OutputCount).ToString("#,##0") <u>VNĐ</u></p>
                                                    }
                                                }

                                                <br />
                                                <a style="cursor: pointer" onclick="Deletecart(@cartitem.Products.pro.ProductId)"><p><i class="fa fa-trash-o"></i> Xóa Sản Phẩm</p></a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="number" id="quantity-@cartitem.Products.pro.ProductId" name="quantity-@cartitem.Quantity" value="@cartitem.Quantity" min="1" max="50" onchange="Updatecart(@cartitem.Products.pro.ProductId)">
                                    </td>
                                    <td>
                                        <h2>
                                            @Convert.ToDecimal(thanhtien).ToString("#,##0")<u> VNĐ</u>
                                        </h2>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                    <div class="total-price">
                        <table>
                            <tr>
                                <td><em><h3>TỔNG CỘNG</h3></em></td>
                                <td><h2><strong style="color: red;">@Convert.ToDecimal(total).ToString("#,##0") <u>VNĐ</u></strong></h2></td>
                            </tr>
                        </table>
                    </div>


                    <hr>
                    if (user.UserName == null)
                    {
                        <div class="order-info">
                            <form asp-action="CreateOrder" asp-controller="Product" method="post">
                                <h1 class="order-title">THÔNG TIN ĐẶT HÀNG</h1>
                                <p>Vui lòng điền đầy đủ và chính xác thông tin dưới đây để hoàn thành đơn hàng.</p>
                                <br>
                                <div class="form-group-1">
                                    <h3>Họ và tên</h3>
                                    <span>
                                        <input type="text" asp-for="ShipName" class="input-order" placeholder="Ex: Nguyễn Thị A" maxlength="100" autofocus required>
                                    </span>
                                    <h3><i class="fa fa-transgender"></i> &nbsp;Giới tính</h3>
                                    <div class="input-gender">
                                        <input type="radio" name="Cus_Gender" value="1" required /> <span> Nam</span> &nbsp; &nbsp; &nbsp;
                                        <input type="radio" name="Cus_Gender" value="0" required /> <span> Nữ</span>
                                    </div>
                                    <h3><i class="fa fa-birthday-cake"></i> &nbsp;Ngày sinh</h3>
                                    <input type="date" class="input-order" name="Cus_BDay" id="date" value="<?= $Cus_BDay ?>" min="1850-01-01" required>
                                </div>
                                <div class="form-group-2">
                                    <h3>Số điện thoại</h3>
                                    <span>
                                        <input type="tel" asp-for="ShipPhoneNumber" class="input-order" placeholder="Ex: 0961234567" maxlength="15" required>
                                    </span>


                                    <h3>Email</h3>
                                    <input type="email" asp-for="ShipEmail" class="input-order" placeholder="Ex: hongthuy@gmail.com" required>


                                    <h3>Địa chỉ</h3>
                                    <input type="text" asp-for="ShipAddress"  class="input-order" placeholder="Ex: Nguyễn Thị A" maxlength="100" autofocus required>
                                </div>

                                <div class="clear"></div>

                                <hr>
                                <button class="btn btn-primary" type="submit" style=" width: 1210px; ">Đặt hàng</button>
                            </form>
                        </div>
                    }
                    else
                    {
                        string name = user.FristName +" " +user.LastName;
                        <div class="order-info">
                            <form asp-action="CreateOrder" asp-controller="Product" method="post">
                                <h3>Tên người nhận</h3>
                                <span>
                                    <input type="text" asp-for="ShipName" class="input-order" value="@name" maxlength="100" autofocus required>
                                </span>


                                <h3>Số điện thoại</h3>
                                <span>
                                    <input type="tel" asp-for="ShipPhoneNumber" class="input-order" value="@user.Phone" maxlength="15" required>
                                </span>


                                <h3>Email</h3>
                                <input type="email" asp-for="ShipEmail" class="input-order" value="@user.Email" required>


                                <h3>Địa chỉ</h3>
                                <input type="text" asp-for="ShipAddress" class="input-order" value="12/9" maxlength="100" autofocus required>

                                <h3>Giới Tính</h3>
                                <input type="tel" class="input-order" value="@user.Gender" maxlength="15" required>
                                <br> <br>
                                <button class="btn btn-primary" style=" width: 1210px; " type="submit">Đặt hàng</button>
                            </form>
                        </div>
                    }
                }

            }
        </div>
        <script src="/js/main.js"></script>
        <script type="text/javascript">
            function Updatecart(id) {
                // alert(id);
                var productid = id;
                var quantity = $("#quantity-" + productid).val();
                $.ajax(
                    {
                        url: "@Url.RouteUrl("updatecart")", // gửi ajax lên server
                        type: "post", // chọn phương thức gửi là post
                        dateType: "text", // dữ liệu trả về dạng text
                        data:
                        {
                            productid:productid,
                            quantity:quantity
                        },
                        success: function (result) {
                             $("#listcart").load("@Url.RouteUrl("cart") #listcart");
                        }
                    });
            }

            function Deletecart(id) {
                var productid = id;
                $.ajax(
                    {
                        url: "@Url.RouteUrl("removecart")", // gửi ajax lên server
                        type: "post", // chọn phương thức gửi là post
                        dateType: "text", // dữ liệu trả về dạng text
                        data:
                        {
                            productid: productid,
                        },
                        success: function (result) {
                            $("#deleteload").load("@Url.RouteUrl("cart") #deleteload");
                        }
                    });
            }
        </script>
    </div>
</body>
</html>
