      <!------ All products ------>
@model List<FruitShopSolution.ViewModel.Catalog.Products.ProductInfoViewModel>;
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="small-container">

    <div class="row row-2">
        <h1>Tìm Kiếm @ViewBag.Keyword</h1>
        @{ 
            if(Model.Count() <= 0)
            {
                <p>Không có kết quả</p>
            }
        }
        <select name="Sort">
            <option selected>Sắp xếp theo giá</option>
            <option>Sắp xếp theo giá</option>
            <option>Sắp xếp theo giá</option>
            <option>Sắp xếp theo giá</option>
            <option>Sắp xếp theo giá</option>
        </select>
        <?php
        }
        ?>
    </div>


    <!------ Hiển thị toàn bộ sản phẩm ------>
    <div class="row">
        @{
            string url = "https://localhost:5001/ProductDetail/ViewDetail?";

            foreach (var i in Model)
            {
                // List<ProductImageViewModel> listImages =await Model.GetProductImages(i.ProductId);

                <div class="col-4 add-border">
                    @{
                        string link = url + $"proId={i.pro.ProductId}";
                    }
                    <a href="@link">
                        @if (i.ListImages.Count() > 0)
                        {
                            ;
                            <img src="@i.ListImages[0].imagepath">
                        }
                        <h3>@i.pro.Title</h3>
                        <div class="rating">
                        </div>
                        <p>@Convert.ToDecimal(i.pro.OutputCount).ToString("#,##0") VNĐ/1kg</p>
                </div>
            }
        }
    </div>
</div>
<div>
    <?php
    if($total_page <= 1)
    {
    // Nếu sản phẩm chỉ có trên 1 trang thì không cần hiển thị phân trang
    }
    else // Nếu sản phẩm nhiều hơn 1 trang thì hiển thị phân trang
    {
    ?>
    <!------ Phân trang ------>
    <div class="page-btn">
        <?php
        if($current_page > 3)
        {
        $first_page = 1;

        ?>
        <a href="?<?= $param ?>per_page=<?= $item_per_page ?>&page=<?= $first_page ?>"><span><strong>First</strong></span></a>
        <?php
        }
        ?>

        <?php
        for($num = 1; $num <= $total_page; $num++)
        {
        if($num != $current_page)
        {
        if($num > $current_page - 3 && $num < $current_page + 3)
        {
        ?>
        <a href="?<?= $param ?>per_page=<?= $item_per_page ?>&page=<?= $num ?>"><span><?= $num ?></span></a>
        <?php
        }
        }
        else // Tô màu cho trang đã chọn
        {
        ?>
        <a href="?<?= $param ?>per_page=<?= $item_per_page ?>&page=<?= $num ?>"><span class="select"><?= $num ?></span></a>
        <?php
        }
        }
        ?>

        <?php
        if($current_page < $total_page - 3)
        {
        $end_page = $total_page;
        ?>
        <a href="?<?= $param ?>per_page=<?= $item_per_page ?>&page=<?= $end_page ?>"><span><strong>Last</strong></span></a>
        <?php
        }
        ?>
    </div>
    <?php
    }
    ?>

</div>



