      <!------ All products ------>
@using FruitShopSolution.ViewModel.Catalog.Products;
@using FruitShopSolution.ViewModel.Catalog.Users;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ProductInfoViewModel> Products = new List<ProductInfoViewModel>(); ;
    if (ViewBag.Products != null)
    {
        Products = ViewBag.Products;
    }
}
@{
    ViewData["Title"] = "Giỏ Hàng";
    UserViewModel user = ViewBag.User;
    int count = ViewBag.ProductsCount;
}
@await Html.PartialAsync("_HeaderLayout", new ViewDataDictionary(ViewData) { { "UserLogin", user }, { "Count", count } })
<div class="small-container">

    <div class="row row-2">
        <h1>Tìm Kiếm @ViewBag.Keyword</h1>

        <select name="Sort">
            <option selected>Sắp xếp theo giá</option>
            <option>Sắp xếp theo giá</option>
            <option>Sắp xếp theo giá</option>
            <option>Sắp xếp theo giá</option>
            <option>Sắp xếp theo giá</option>
        </select>
    </div>


    <!------ Hiển thị toàn bộ sản phẩm ------>
    <div class="row">
        @{
            <div id="searchnull">
                @{
                    if (Products.Count() <= 0)
                    {
                        <img src="/Image/Null.png">
                        <h4 style=" margin-left: 47px; font-size: 22px; ">Không có kết quả</h4>
                    }
                }
            </div>
            string url = "https://localhost:5001/ProductDetail/ViewDetail?";

            foreach (var i in Products)
            {
                // List<ProductImageViewModel> listImages =await Model.GetProductImages(i.ProductId);

                <div class="col-4 add-border">
                    @{
                        string link = url + $"proId={i.pro.ProductId}";
                    }
                    <a href="@link">
                        @if (i.ListImages.Count() > 0)
                        {
                            <img src="@i.ListImages[0].imagepath">
                        }
                        <h3>@i.pro.Title</h3>
                        <div class="rating">
                            @Rating_Stars(5)
                        </div>
                        <p>@Convert.ToDecimal(i.pro.OutputCount).ToString("#,##0") VNĐ/1kg</p>
                    </a>
                </div>
            }
        }
    </div>
</div>
<div>


</div>
@{
    string Rating_Stars(int rate)
    {
        string str = "";
        switch (rate)
        {
            case 1:
                {

                    <i class='fa fa-star'></i>
                    <i class='fa fa-star-o'></i>
                    <i class='fa fa-star-o'></i>
                    <i class='fa fa-star-o'></i>
                    <i class='fa fa-star-o'></i>
                    break;
                }
            case 2:
                {

                    <i class='fa fa-star'></i>
                    <i class='fa fa-star'></i>
                    <i class='fa fa-star-o'></i>
                    <i class='fa fa-star-o'></i>
                    <i class='fa fa-star-o'></i>
                    break;
                }
            case 3:
                {
                    <i class='fa fa-star'></i>
                    <i class='fa fa-star'></i>
                    <i class='fa fa-star'></i>
                    <i class='fa fa-star-o'></i>
                    <i class='fa fa-star-o'></i>
                    break;
                }
            case 4:
                {

                    <i class='fa fa-star'></i>
                    <i class='fa fa-star'></i>
                    <i class='fa fa-star'></i>
                    <i class='fa fa-star'></i>
                    <i class='fa fa-star-o'></i>

                    break;
                }
            case 5:
                {

                    <i class='fa fa-star'></i>
                    <i class='fa fa-star'></i>
                    <i class='fa fa-star'></i>
                    <i class='fa fa-star'></i>
                    <i class='fa fa-star'></i>
                    break;
                }
            default:
                {

                    <i class='fa fa-star'></i>
                    <i class='fa fa-star'></i>
                    <i class='fa fa-star'></i>
                    <i class='fa fa-star'></i>
                    <i class='fa fa-star'></i>
                    break;
                }

        }
        return str;
    }

}



