

@using FruitShopSolution.ViewModel.Catalog.Order;
@model List<OrderViewModel>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Danh sách đơn hàng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách sản phẩm</li>
    </ol>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" value="" name="keyword" class="form-control" />
                            </div>
                            <div class="cold-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="button" onclick="window.location.href='/Order/NewOrder'" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                    <div id="msgAlert" class="alert alert-success" role="alert">
                    </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="tabledata">
                    <thead>
                        <tr>
                            <th>
                                Mã Đơn
                            </th>
                            <th>
                                Khách hàng
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Số lượng sản phẩm
                            </th>
                            <th>
                                Tổng tiền
                            </th>
                            <th>
                                Ngày đặt
                            </th>
                            <th>
                                % Giảm giá
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrderId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Shipname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ShipEmail)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ShipPhoneNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalPrice)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrderDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Discount)
                                    </td>
                                    <td>
                                        <button class="btn-success" onclick="Update(@item.OrderId)">Xác nhận</button>
                                    </td>
                                    <td>
                                        <button class="btn-danger" onclick="Cancel(@item.OrderId)">Huỷ</button>
                                    </td>
                                    <td>
                                        @Html.ActionLink("Chi tiết", "ViewOrderDetail", new { id = item.OrderId }) |
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function Update(id) {
        $.ajax
            ({
                url: '@Url.Action("Comfirm")', // gửi ajax đến file
                type: "post", // chọn phương thức gửi là get
                data:
                {
                    orderId: id

                },
                success: function (result) {
                    $('#msgAlert').text("Đã xác nhận đơn hàng");
                    $("#tabledata").load("@Url.Action("NewOrder") #tabledata");
                },
                error: function (result) {
                }
            });
    };
        function Cancel(id) {
        $.ajax
            ({
                url: '@Url.Action("CancelOrder")', // gửi ajax đến file
                type: "post", // chọn phương thức gửi là get
                data:
                {
                    orderId: id

                },
                success: function (result) {
                    $('#msgAlert').text("Đã huỷ đơn hàng");
                    $("#tabledata").load("@Url.Action("NewOrder") #tabledata");
                },
                error: function (result) {
                }
            });
    };
</script>

