@using FruitShopSolution.ViewModel.Catalog.Cart;
@using FruitShopSolution.ViewModel.Catalog.Order;
@using FruitShopSolution.ViewModel.Catalog.Users;
@using FruitShopSolution.ViewModel.Catalog.Products;
@{
    List<ProductInfoViewModel> lisdata = ViewBag.Products;
}
@{
    ViewData["Title"] = "Giỏ Hàng";
    UserViewModel user = ViewBag.User;
    int count = ViewBag.ProductsCount;
}
@await Html.PartialAsync("_HeaderLayout", new ViewDataDictionary(ViewData) { { "UserLogin", user }, { "Count", count } })
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <title>Giỏ hàng</title>
</head>

<body>
    <div class="backgroundcolor" id="deleteload">

        <div class="container">
            <a href="@Url.Action("ViewAll","Product")" class="btn"><strong>&#8592; Tiếp tục mua sắm</strong></a>
        </div>

        <!------ Cart items details ------>
        <div class="small-container">
            <h1 id="Featured" class="title">Sản phẩm yêu thích</h1>
            <div class="row">
                @{
                    string url = "https://localhost:5001/Product/ViewDetail?";
                    if (lisdata.Count <= 0)
                    {
                        <br />
                        <h1>Bạn chưa có sản phẩm yêu thích nào!!!</h1>
                        <br />
                    }

                    foreach (ProductInfoViewModel i in ViewBag.Products)
                    {
                        // List<ProductImageViewModel> listImages =await Model.GetProductImages(i.ProductId);
                        <div class="col-4 add-border">
                            @{
                                string link = url + $"proId={i.pro.ProductId}";
                            }
                            <a href="@link">
                                @if (i.ListImages.Count() > 0)
                                {
                                    <img src="@i.ListImages[0].imagepath">
                                }
                                <h3>@i.pro.Title</h3>
                                <div class="rating">
                                    @*@Rating_Stars(5)*@
                                </div>

                                @{
                                    if (i.Discount != 100 && i.Discount != 0)
                                    {
                                        <p style="text-decoration: line-through;">@Convert.ToDecimal(i.pro.OutputCount).ToString("#,##0") VNĐ/@i.pro.Unit</p>
                                        <p>@Convert.ToDecimal(i.pro.OutputCount * (1 - (decimal)i.Discount / 100)).ToString("#,##0") VNĐ/@i.pro.Unit</p>
                                    }
                                    else
                                    {
                                        <p>@Convert.ToDecimal(i.pro.OutputCount).ToString("#,##0") VNĐ/@i.pro.Unit</p><br>
                                    }
                                }
                            </a>
                        </div>
                    }
                }                
            </div>
        </div>



        <script src="/js/main.js"></script>
        <script type="text/javascript">
            function Updatecart(id) {
                // alert(id);
                var productid = id;
                var quantity = $("#quantity-" + productid).val();
                $.ajax(
                    {
                        url: "@Url.RouteUrl("updatecart")", // gửi ajax lên server
                        type: "post", // chọn phương thức gửi là post
                        dateType: "text", // dữ liệu trả về dạng text
                        data:
                        {
                            productid:productid,
                            quantity:quantity
                        },
                        success: function (result) {
                             $("#listcart").load("@Url.RouteUrl("cart") #listcart");
                        }
                    });
            }

            function Deletecart(id) {
                var productid = id;
                $.ajax(
                    {
                        url: "@Url.RouteUrl("removecart")", // gửi ajax lên server
                        type: "post", // chọn phương thức gửi là post
                        dateType: "text", // dữ liệu trả về dạng text
                        data:
                        {
                            productid: productid,
                        },
                        success: function (result) {
                            $("#deleteload").load("@Url.RouteUrl("cart") #deleteload");
                        }
                    });
            }
        </script>
    </div>
</body>
</html>
